html{
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0px;
  }
  
  .row{
    display: flex;
  }
  .menuAl{
  background-color: red;
  width: 20%;
  float: left;
   }
  
  .contentAl{
  background-color: blue;
  width: 60%;
  float: left;
   }
  .notisAl{
  background-color: yellow;
  width: 20%;
  float: left;
  }